/* цвет основного текста #212121 */
/* акцент  #2196F3; */
/* цвет текста 2 и хедера #FFFFFF */
/* цвет текста 3 #757575 */
/* цвет фона #E5E5E5 */
/* цвет фона вторичный #F5F4FA */
/* цыет футера #2F303A */

:root {
  --primary-text-color: #757575;
  --title-text-color:#212121;
  --accent-color:#2196F3;
  --header-and-text-color:#FFFFFF;
  --footer-color: #2F303A;
  --secondary-background-and-button-color: #F5F4FA;
  --fone-color: #E5E5E5;
}


body {
  background-color:#E5E5E5;
  color: var(--title-text-color);
}

/* Применится ко всем ссылкам на странице */
a {
    text-decoration: none;
  }

/* Применится ко всем сспискам на странице */
ul {
  list-style: none;
}

/* Header */

.page-header {
  background-color: var(--header-and-text-color);
}

.logo {
  color: var(--title-text-color);
}

.logo-bottom {
  color: var(--header-and-text-color);
}

.accent {
  color: var(--accent-color);
}
/* Site nav */

.site-nav .link {
  color:var(--title-text-color);
}
.site-nav .link:hover,
.site-nav .link:focus {
  color: var(--accent-color);
}
.site-nav .link.current {
  color: var(--accent-color);
}

.email {
  color: var(--title-text-color);
}

.email:hover,
.email:focus {
  color: var(--accent-color);
}

.phone {
  color: var(--title-text-color);
}

.phone:hover,
.phone:focus {
  color: var(--accent-color);
}


/* Hero */
.hero-title {
  color: var(--header-and-text-color);
}
/* Section */
.section-title  {
  color: ;
}
.text {
  color: var(--primary-text-color);
}

/* Чем мы занимаемся */
.work-list {
  color: var(--header-and-text-color);
}
.work .work-ref {
  color: var(--header-and-text-color);
}

/* Наша команда */

.team {
  background: #F5F4FA;
}
.team .team-text {
  color: var(--primary-text-color);
}

/* Footer */

.footer {
  background-color: var(--footer-color);
}
.footer .footer-adress1 {
  color: var(--header-and-text-color);
}

.footer .footer-adress2 {
  color: rgba(255, 255, 255, 0.6);
}

.footer .join {
  color: var(--header-and-text-color);
}

.footer .subscribe {
  color: var(--header-and-text-color);
}

/* Buttons */

.button {
  color: var(--title-text-color);
  background-color: var(--accent-color);

  font-size: 16px;
  padding: 12px 24px;
  display: inline-block;
}

.button.primary {
  color: var(--header-and-text-color);
  background-color: var(--accent-color);
  border-color: transparent;
}

.button.secondary {
  color: var(--title-text-color);
  background-color: var(--secondary-background-and-button-color);
  border-color: transparent;
}

.button:focus {
  color: var(--accent-color);
  background-color: var(--header-and-text-color);
}

.button:hover {
  color: var(--accent-color);
  background-color: var(--header-and-text-color);
}

.button.secondary:hover {
  color: var(--header-and-text-color);
  background-color: var(--accent-color);
}

.button:focus {
  color: var(--header-and-text-color);
  background-color: var(--accent-color);
}